<header class="sticky top-0 w-full px-8 py-4 h-16 leading-8">
  <div class="flex items-center justify-between">
    <div class="flex space-x-12">
      <div class="hover:text-blue-600">
        <a href="<%= Rails.application.routes.url_helpers.home_index_path %>">Set</a>
      </div>
    </div>
    <div class="flex space-x-12 items-center">
      <% if current_account %>
        <div class="hover:text-blue-600">
          <a href="<%= Rails.application.routes.url_helpers.dashboard_index_path %>">Dashboard</a>
        </div>
      <% end %>

      <% unless current_account %>
        <div class="hover:text-blue-600">
          <a href="<%= rodauth.login_path %>">Login</a>
        </div>
      <% end %>

      <% if current_account %>
        <div class="hover:text-blue-600">
          <a href="<%= Rails.application.routes.url_helpers.dashboard_index_path %>">Profile</a>
        </div>
      <% end %>

      <% if current_account %>
        <%= render "rodauth/logout" %>
      <% end %>
    </div>
  </div>
</header>