<!DOCTYPE html>
<html>
  <head>
    <title>Set</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <main class="h-screen">
      <% unless @hide_topnav %>
        <%= render 'layouts/topnav' %>
      <% end %>
      logged in as: <%= current_account&.email %>
      <%= yield %>
    </main>
  </body>
</html>
